@import "bootstrap/less/bootstrap.less";

.console{
  border: 1px solid black;
  font-family: Terminal, monospace;

  .output{
    max-height: 200px;
    overflow: auto;
  }

  input.command{
    width: 100%;
  }
}

.working{
  position: absolute;
  top: 0px;
  left: 0px;
}
